body{
    font-family: poppins;
}
.im{
    width: auto;
    height: 64px;
}
.nav-link:hover{
 background: yellow;
 border-radius: 12px;
}
a.active{
    background: yellow;
 border-radius: 12px;
}
.ggap{
    gap: 10px;
}