.footer{
    padding: 80px 0px;
}
ul{
  color:  rgba(255, 255, 255, 0.66);
  margin-bottom: 48px;

}
.fa-linkedin{
  color:  rgba(255, 255, 255, 0.66);
}
a{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.66)
  
}
a:hover{
  color:rgba(255, 255, 255)
}